// Define color variables for dark and light theme
$dark-background: #151515;
$dark-text: #EEEEEE;
$dark-accent: #95dfff;

$light-background: #EEEEEE;
$light-text: #151515;
$light-accent: #48A999;

// THEME SWITCHER
@mixin dark-theme {
  background: $dark-background;
  color: $dark-text;
  a, a:visited {
    color: $dark-text;
    text-decoration-color: $dark-accent;
  }
  a:hover {
    color: $dark-accent;
  }
  img {
    filter: none;
    &.ioda { filter: none; }
  }
  code {
    color: $dark-background;
    background: $dark-text;
  }
  hr {
    border-color: $dark-accent;
    &:before { color: $dark-accent; }
    &:after { color: $dark-accent; }
  }
  table, th, td {
    border-color: $dark-accent;
  }
  blockquote {
    border-color: $dark-accent;
  }
}

@mixin light-theme {
  background: $light-background;
  color: $light-text;
  a, a:visited {
    color: $light-text;
    text-decoration-color: $light-accent;
  }
  a:hover {
    color: $light-accent;
  }
  img {
    filter: none;
    &.ioda { filter: none; }
  }
  code {
    color: $light-background;
    background: $light-text;
  }
  hr {
    border-color: $light-accent;
    &:before { color: $light-accent; }
    &:after { color: $light-accent; }
  }
  table, th, td {
    border-color: $light-accent;
  }
  blockquote {
    border-color: $light-accent;
  }
}

body[a="dark"] { @include dark-theme; }
body[a="light"] { @include light-theme; }

@media (prefers-color-scheme: dark) {
  body[a="auto"] { 
    @include dark-theme; 
  }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { 
    @include light-theme; 
  }
}

// Common Styles
html, body {
  height: 100%;
  font-family: monospace;
  font-size: 1.25em;
  line-height: 1.75;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }
a { text-decoration-thickness: 0.1em; }
a:hover { text-decoration-thickness: 0.2em; }
h1 { font-size: 2em; font-weight: bold; }
h2, h3, h4, h5, h6 { margin-top: 1.75rem; }
h2 { font-size: 1.75em; font-weight: bold; }
h3 { font-size: 1.5em; font-weight: bold; }
h4 { font-size: 1.25em; font-weight: bold; }
hr { margin: 1.75rem 0; }
p { margin: 1rem 0; }
li { margin: 0rem 0; }

.w {
  max-width: 720px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}