// Define color variables for dark and light theme
$dark-background: #111111;
$dark-text: #EEEEEE;
$dark-accent: #607d8b;
$dark-accent-dark: #455a64;
$dark-accent-light: #CFD8DC;

$light-background: #EEEEEE;
$light-text: #111111;
$light-accent: #009688;
$light-accent-dark: #00574B;
$light-accent-light: #48A999;

// THEME SWITCHER
@mixin dark-theme {
  background: $dark-background;
  color: $dark-text;
  a, a:visited {
    color: $dark-accent;
  }
  a:hover {
    color: $dark-accent-light;
  }
  img {
    filter: none;
    &.ioda { filter: none; }
  }
  code {
    color: $dark-background;
    background: $dark-text;
  }
  hr {
    border-color: $dark-accent;
    &:before { color: $dark-accent; }
    &:after { color: $dark-accent; }
  }
  table, th, td {
    border-color: $dark-accent;
  }
  blockquote {
    border-color: $dark-accent;
  }
}

@mixin light-theme {
  background: $light-background;
  color: $light-text;
  a, a:visited {
    color: $light-accent;
  }
  a:hover {
    color: $light-accent-light;
  }
  img {
    filter: none;
    &.ioda { filter: none; }
  }
  code {
    color: $light-background;
    background: $light-text;
  }
  hr {
    border-color: $light-accent;
    &:before { color: $light-accent; }
    &:after { color: $light-accent; }
  }
  table, th, td {
    border-color: $light-accent;
  }
  blockquote {
    border-color: $light-accent;
  }
}

body[a="dark"] { @include dark-theme; }
body[a="light"] { @include light-theme; }

@media (prefers-color-scheme: dark) {
  body[a="auto"] { 
    @include dark-theme; 
  }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { 
    @include light-theme; 
  }
}

// Common Styles
html, body {
  height: 100%;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }
h2, h3, h4, h5, h6 { margin-top: 3rem; }
hr { margin: 2rem 0; }
p { margin: 1rem 0; }
li { margin: 0.4rem 0; }
*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}